body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(9, 0, 0, 0.1);
}

input {
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: .5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: .5rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    transition: background-color .3s ease;
}

button:hover {
    background-color: #0056b3;
}